# python lambda

Here's an example of lambda that takes in three parameters and adds the first two.

## lambda 예시 1

In [1]:
my_function = lambda a, b, c : a + b

In [2]:
my_function(1, 2, 3)

3

## lambda 예시 2

In [36]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print( (lambda x: x.split()[0] + ' ' + x.split()[-1])(person) )
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person) )

Dr. Brooks
True
Dr. Collins-Thompson
True
Dr. Vydiswaran
True
Dr. Romero
True

True

In [41]:
#option 2

# 문법
# map(f, iterable)
# 함수(f)와 반복 가능한 (iterable) 자료형을 입력으로 받는다.

print( list(map(split_title_and_name, people)) )
print( list(map(lambda x: x.split()[0] + ' ' + x.split()[-1], people)) )

list(map(split_title_and_name, people)) == list(map(lambda x: x.split()[0] + ' ' + x.split()[-1], people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']
['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

True

## lambda 예시 3

In [26]:
import pandas as pd

data = {'team' : ['russia', 'saudiarabia', 'egypt', 'uruguay'],
        'against': ['saudiarabia', 'russia', 'uruguay', 'egypt'],
        'fifa_rank': [65, 63, 31, 21]}
df = pd.DataFrame(data)
df.set_index('team')

                 against  fifa_rank
team
russia       saudiarabia         65
saudiarabia       russia         63
egypt            uruguay         31
uruguay            egypt         21

In [47]:
new_df = df.apply(lambda x : x['fifa_rank'] +2, axis=1)

In [49]:
df

          team      against  fifa_rank
0       russia  saudiarabia         65
1  saudiarabia       russia         63
2        egypt      uruguay         31
3      uruguay        egypt         21

In [50]:
new_df

0    67
1    65
2    33
3    23
dtype: int64