In [6]:
import pandas as pd

# Read data

In [7]:
# 여러분들은 2. missing values 에서 만들었던 데이터를 읽어오세요.
train = pd.read_csv('../Data/kaggle/train.csv')
test = pd.read_csv('../Data/kaggle/test.csv')

In [9]:
train.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
603,604,0,3,"Torber, Mr. Ernst William",male,44.0,0,0,364511,8.05,NaN,S

# 무엇이 카테고리 변수인가?
자료의 형태
* 범주형 (명목형 / 순서형)
* 수치형 (이산형 / 연속형)
* https://debuglog.tistory.com/22

우리 데이터를 명목형, 순서형, 이산형, 그리고 연속형으로 나눠서 생각해보세요.
* 명목형:
* 순서형:
* 이산형:
* 연속형:
* 지금은 이도저도 아니다:

# 명목형 
* 명목형 데이터를 머신러닝이 알아들을 수 있는 숫자로 표현해주자.
* 통계학을 배울 때에 dummy 변수라는 말을 들어봤나요?
* real world 문제에서는 그 dummy 변수를 직접 만들어줘야 합니다.

In [28]:
train['Sex_encoded'] = pd.get_dummies(train['Sex'])['female']

같은 작업을 다른 명목형 데이터에 대해서도 해줍시다.

In [32]:
# Answer

# 순서형
* 순서의 의미를 살려주고 싶다면 머신러닝 모델에서도 변형 없이 그대로 사용 가능하다.
* 순서의 의미보다는 그룹의 성격이 강하다면, one hot encoding 해주자.

In [33]:
# Answer

# 이산형과 연속형
* 이상형 또는 연속형 데이터를 카테고리로 만들어주는 방법도 있다.
* 예를 들어 나이를 보자. 나이가 숫자로서의 의미보다는 유아, 청소년, 청년, 장년, 노년의 의미가 강하다면 어떨까?
* 카테고리 데이터로 만들어 줄 때에, 명목형으로 만들 것인가 순서형으로 만들 것인가?

In [34]:
# Answer

# 데이터 확인
* 몇 개의 컬럼이 새로 생겼나요?
* 어떤 컬럼들을 활용할 계획인가요?

In [36]:
# Answer

# 작업물을 저장합시다.

In [35]:
# Answer