In [1]:
import pandas as pd

In [16]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4], 
    'B': [1, 2, 3, 3], 
    'C': pd.Series([5, 6, 7, 8])
})

In [17]:
df

   A  B  C
0  1  1  5
1  2  2  6
2  3  3  7
3  4  3  8

In [19]:
s = pd.Series([1, 2, 3, 4])

In [25]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
a = [1, 2, 3, 4]

In [23]:
a[0]

1

In [9]:
df1 = df.reset_index().set_index(['A', 'B'])

In [10]:
df1.columns

Index(['index'], dtype='object')

In [13]:
df1.reset_index().columns

Index(['A', 'B', 'index'], dtype='object')