# Pandas apply() and lambda function in Python

In [1]:
import pandas as pd

import datetime

In [2]:
train = pd.read_csv('funda_train.csv')
# trin = pd.read_csv('./data/dacon/funda_train.csv')

In [4]:
train.head(2)

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,0,0,b,2016-06-01,13:13,0,NaN,기타 미용업,1857.142857
1,0,1,h,2016-06-01,18:12,0,NaN,기타 미용업,857.142857

In [6]:
train.isnull().sum() * 100 / len(train) #null 체크하는 방법 : null값들을 다 더하고 100을 곱해서/len으로 나누어서 퍼센트를 봄 
# True == 1
# False == 0  
# True + True -> 연산이 가능 그래서 .ismull().sum() 할 수 있음 
# 결과 : region의 30%, type는 60%가 null 값이다.

store_id             0.000000
card_id              0.000000
card_company         0.000000
transacted_date      0.000000
transacted_time      0.000000
installment_term     0.000000
region              31.155812
type_of_business    60.284311
amount               0.000000
dtype: float64

In [7]:
train['region'] = train['region'].fillna('시도정보없음 시군구정보없음')
# .fillna(결측치를 채워주는 방법)

In [8]:
train.region.unique() 
# 시도정보 없음 시군구정보없음 30%
# 서울은 구, 어떤 곳은 시, 어떤 곳은 군

array(['시도정보없음 시군구정보없음', '서울 종로구', '충북 충주시', '부산 동래구', '경기 평택시', '부산 동구',
       '광주 동구', '경기 파주시', '대구 수성구', '경기 용인시', '서울 중구', '경기 안양시', '경기 수원시',
       '경기 화성시', '서울 송파구', '서울 마포구', '부산 부산진구', '서울 용산구', '충남 금산군',
       '서울 중랑구', '전남 목포시', '경기 안성시', '서울 영등포구', '서울 동작구', '경기 과천시',
       '경북 경주시', '인천 계양구', '서울 강서구', '경기 성남시', '인천 남동구', '서울 광진구',
       '서울 서대문구', '서울 은평구', '서울 강남구', '강원 강릉시', '서울 구로구', '서울 서초구',
       '경기 시흥시', '인천 서구', '서울 양천구', '경기 부천시', '경기 광주시', '서울 금천구',
       '서울 관악구', '인천 남구', '인천 동구', '충북 제천시', '광주 광산구', '인천 연수구', '인천 부평구',
       '경기 의왕시', '전남 순천시', '경기 이천시', '경기 의정부시', '경기 포천시', '경기 양주시',
       '경기 고양시', '충북 옥천군', '경기 광명시', '경기 구리시', '경기 남양주시', '경기 가평군',
       '전남 여수시', '경기 안산시', '경기 오산시', '경기 김포시', '서울 성동구', '전북 군산시',
       '경남 김해시', '경기 군포시', '제주 서귀포시', '서울 강북구', '제주 제주시', '부산 금정구',
       '경북 구미시', '광주 서구', '부산 사상구', '충남 천안시', '강원 원주시', '충남 아산시',
       '경북 포항시', '부산 강서구', '강원 횡성군', '대구 남구', '경남 양산시', '경남 창원시',
       '강원 양구군', '경남 통영시', '충남 당진시', '부산 사하구', '강원 태백시', '서울 동대문구',
       '충북 청주시', '대구 북구', '서울 성북구', '부산 해운대구', '경북 경산시', '서울 노원구',
       '부산 연제구', '경기 하남시', '서울 강동구', '부산 수영구', '대전 대덕구', '부산 북구',
       '강원 춘천시', '인천 중구', '강원 삼척시', '전북 전주시', '강원 홍천군', '강원 속초시',
       '경기 연천군', '대전 중구', '부산 중구', '충북 단양군', '대전 서구', '울산 북구', '경남 거제시',
       '광주 북구', '부산 서구', '대구 동구', '경기 동두천시', '충남 서산시', '경북 영주시', '부산 남구',
       '전남 나주시', '충북 음성군', '충북 증평군', '대전 동구', '울산 남구', '충남 공주시', '충남 부여군',
       '충남 홍성군', '충남 보령시', '울산 중구', '대전 유성구', '울산 울주군', '경북 영천시', '대구 중구',
       '전남 무안군', '충남 서천군', '전북 익산시', '전북 김제시', '전북 정읍시', '전북 순창군',
       '전북 남원시', '광주 남구', '전남 담양군', '전남 해남군', '전남 함평군', '전남 완도군',
       '전남 고흥군', '경남 창녕군', '대구 달서구', '부산 영도구', '경북 김천시', '경기 양평군',
       '충북 진천군', '세종 도움3로', '대구 서구', '경북 울진군', '경북 안동시', '전남 곡성군',
       '대구 달성군', '경남 남해군', '경남 사천시', '부산 기장군', '경남 함안군', '울산 동구',
       '경남 거창군', '경남 진주시', '경남 밀양시', '경북 상주시', '세종 고운서길', '충남 논산시',
       '경북 성주군', '전남 광양시', '세종 달빛로', '세종 조치원읍', '경북 칠곡군', '강원 철원군',
       '충남 예산군'], dtype=object)

# Pandas apply()

In [38]:
# 다양한 방법으로 데이터를 호출할 수 있음. 본인이 편한 방법을 선택하면 됨. 
train['region'].loc[10000]
train.lioc['region',10000]

AttributeError: 'DataFrame' object has no attribute 'lioc'

In [20]:
#region 컬럼의 만번째 데이터 
sample=train['region'][10000] 
 #space 기준으로 분리 (리스트 안에 들어가짐)
sample_split = sample.split()
#저장된 리스트에서 첫번째 원소를 가져옵니다 
sample_split[0]

'서울'

In [21]:
# split()
# 문자열 자료형에 대해서 더 알고 싶다면: https://wikidocs.net/13
train['region'][10000].split() #space 기준으로 분리 (리스트 안에 들어가짐)
train['region'][10000].split()[0] # space 기준으로 분리해서 리스트의 0번째를 가지고 와라 --> 서울

'서울'

## 시도 / 시군구 정보를 나누고 싶을 때

In [25]:
sample

'서울 종로구'

In [22]:
def get_sido(x):
    return x.split()[0]

In [26]:
get_sido(sample)

'서울'

In [27]:
#시군구 함수 짜기 
def get_sigungu(x):
    return x.split()[1]

In [29]:
get_sigungu(sample)

'종로구'

In [44]:
# for문 돌려서...! train['region']'을 다 돌려보자! 
for i,v in train['region'].items():
    print(i) # 인덱스 정보 
    print(v) # value 값 
    break

0
시도정보없음 시군구정보없음

In [47]:
for k in train['region'].items():
    print(k) # 이렇게 하면 튜플형으로 나오는 데, 위처럼 i ,v 로 해주면 판다스가 알아서 튜플을 해제해서 첫번째 값은 i, 두번째는 v에 넣어줌 
    break

(0, '시도정보없음 시군구정보없음')

In [48]:
# for문 돌려서...! train['region']'을 다 돌려보자! 
for i,v in train['region'].items():
    print(get_sido(v))
    break

시도정보없음

In [50]:
sido = [] # 시도 라는 리스트에 넣어주자 
for i, v in train['region'].items():
    sido.append(get_sido(v))

In [51]:
train['sido'] = sido

In [ ]:
for v in list(train['region']): #굳이 index까지 뽑는 튜플이 아니라 리스트로 하면 안되나? 
    # 돌아가긴 한데, 데이터 사이즈가 커지면 리스트 형태로 통째로 저장이 되는 이 방법은 돌아가는 시간과 용량이 많아짐

In [52]:
# 시군구 리스트 
sigungu = []
for i, v in train['region'].items():
    sigungu.append(get_sigungu(v))

In [56]:
train['sigungu'] = sigungu

In [58]:
train.head()
# 시도, 시군구 칼럼이 생김

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount,sido,sigungu
0,0,0,b,2016-06-01,13:13,0,시도정보없음 시군구정보없음,기타 미용업,1857.142857,시도정보없음,시군구정보없음
1,0,1,h,2016-06-01,18:12,0,시도정보없음 시군구정보없음,기타 미용업,857.142857,시도정보없음,시군구정보없음
2,0,2,c,2016-06-01,18:52,0,시도정보없음 시군구정보없음,기타 미용업,2000.000000,시도정보없음,시군구정보없음
3,0,3,a,2016-06-01,20:22,0,시도정보없음 시군구정보없음,기타 미용업,7857.142857,시도정보없음,시군구정보없음
4,0,4,c,2016-06-02,11:06,0,시도정보없음 시군구정보없음,기타 미용업,2000.000000,시도정보없음,시군구정보없음

In [59]:
train[train['sido'] == '제주']

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount,sido,sigungu
1161865,429,791683,c,2017-04-26,19:34,0,제주 서귀포시,기타 주점업,-142.857143,제주,서귀포시
1161866,429,791683,c,2017-04-26,19:34,0,제주 서귀포시,기타 주점업,142.857143,제주,서귀포시
1161867,429,791684,f,2017-04-26,20:45,0,제주 서귀포시,기타 주점업,2714.285714,제주,서귀포시
1161868,429,791685,a,2017-04-26,20:49,0,제주 서귀포시,기타 주점업,10571.428571,제주,서귀포시
1161869,429,791686,a,2017-04-26,22:21,0,제주 서귀포시,기타 주점업,4142.857143,제주,서귀포시
1161870,429,791687,c,2017-04-26,23:09,0,제주 서귀포시,기타 주점업,4428.571429,제주,서귀포시
1161871,429,791688,b,2017-04-27,00:02,0,제주 서귀포시,기타 주점업,9428.571429,제주,서귀포시
1161872,429,791689,a,2017-04-27,00:16,0,제주 서귀포시,기타 주점업,3571.428571,제주,서귀포시
1161873,429,791690,a,2017-04-27,19:21,0,제주 서귀포시,기타 주점업,7285.714286,제주,서귀포시
1161874,429,791691,e,2017-04-27,22:31,0,제주 서귀포시,기타 주점업,6285.714286,제주,서귀포시
1161875,429,791692,f,2017-04-28,00:10,0,제주 서귀포시,기타 주점업,10142.857143,제주,서귀포시
1161876,429,791693,e,2017-04-28,01:13,0,제주 서귀포시,기타 주점업,9714.285714,제주,서귀포시
1161877,429,791694,c,2017-04-28,02:08,0,제주 서귀포시,기타 주점업,5142.857143,제주,서귀포시
1161878,429,791695,b,2017-04-28,18:38,0,제주 서귀포시,기타 주점업,6714.285714,제주,서귀포시
1161879,429,791696,a,2017-04-28,20:15,0,제주 서귀포시,기타 주점업,10857.142857,제주,서귀포시
1161880,429,791697,c,2017-04-28,20:57,0,제주 서귀포시,기타 주점업,9142.857143,제주,서귀포시
1161881,429,791698,c,2017-04-28,21:05,0,제주 서귀포시,기타 주점업,4571.428571,제주,서귀포시
1161882,429,791699,a,2017-04-28,21:57,0,제주 서귀포시,기타 주점업,15142.857143,제주,서귀포시
1161883,429,791700,d,2017-04-29,00:01,0,제주 서귀포시,기타 주점업,3714.285714,제주,서귀포시
1161884,429,791701,a,2017-04-29,00:35,0,제주 서귀포시,기타 주점업,5285.714286,제주,서귀포시
1161885,429,791702,e,2017-04-29,00:48,0,제주 서귀포시,기타 주점업,6714.285714,제주,서귀포시
1161886,429,791703,a,2017-04-29,00:56,0,제주 서귀포시,기타 주점업,7142.857143,제주,서귀포시
1161887,429,791704,a,2017-04-29,20:31,0,제주 서귀포시,기타 주점업,6571.428571,제주,서귀포시
1161888,429,791705,g,2017-04-29,21:45,0,제주 서귀포시,기타 주점업,6285.714286,제주,서귀포시
1161889,429,791706,d,2017-04-29,21:52,0,제주 서귀포시,기타 주점업,4000.000000,제주,서귀포시
1161890,429,791707,f,2017-04-29,22:15,0,제주 서귀포시,기타 주점업,10285.714286,제주,서귀포시
1161891,429,791708,a,2017-04-29,23:43,0,제주 서귀포시,기타 주점업,5000.000000,제주,서귀포시
1161892,429,791709,d,2017-04-30,00:59,0,제주 서귀포시,기타 주점업,3857.142857,제주,서귀포시
1161893,429,791710,a,2017-04-30,20:20,0,제주 서귀포시,기타 주점업,7142.857143,제주,서귀포시
1161894,429,791711,d,2017-04-30,21:00,0,제주 서귀포시,기타 주점업,2714.285714,제주,서귀포시
...,...,...,...,...,...,...,...,...,...,...,...
6556583,2136,4663842,a,2019-02-26,00:02,0,제주 제주시,기타 주점업,6428.571429,제주,제주시
6556584,2136,4663793,a,2019-02-26,00:29,0,제주 제주시,기타 주점업,8142.857143,제주,제주시
6556585,2136,4662280,e,2019-02-26,20:10,0,제주 제주시,기타 주점업,4000.000000,제주,제주시
6556586,2136,4663392,d,2019-02-26,23:01,0,제주 제주시,기타 주점업,16571.428571,제주,제주시
6556587,2136,795775,a,2019-02-26,23:08,0,제주 제주시,기타 주점업,7571.428571,제주,제주시
6556588,2136,4662603,f,2019-02-27,00:20,0,제주 제주시,기타 주점업,7928.571429,제주,제주시
6556589,2136,4663843,c,2019-02-27,01:04,0,제주 제주시,기타 주점업,4500.000000,제주,제주시
6556590,2136,4663844,b,2019-02-27,01:19,0,제주 제주시,기타 주점업,6000.000000,제주,제주시
6556591,2136,4663845,b,2019-02-27,02:15,0,제주 제주시,기타 주점업,5142.857143,제주,제주시
6556592,2136,1977050,d,2019-02-27,03:45,0,제주 제주시,기타 주점업,6428.571429,제주,제주시
6556593,2136,4663846,a,2019-02-27,21:38,0,제주 제주시,기타 주점업,7857.142857,제주,제주시
6556594,2136,4663847,g,2019-02-27,21:55,0,제주 제주시,기타 주점업,7285.714286,제주,제주시
6556595,2136,4663848,d,2019-02-27,22:10,0,제주 제주시,기타 주점업,4000.000000,제주,제주시
6556596,2136,4663706,d,2019-02-27,23:09,0,제주 제주시,기타 주점업,5500.000000,제주,제주시
6556597,2136,4663849,d,2019-02-27,23:20,0,제주 제주시,기타 주점업,10428.571429,제주,제주시
6556598,2136,4661654,a,2019-02-28,01:04,0,제주 제주시,기타 주점업,8571.428571,제주,제주시
6556599,2136,4663850,a,2019-02-28,02:35,0,제주 제주시,기타 주점업,7428.571429,제주,제주시
6556600,2136,4663107,a,2019-02-28,21:20,0,제주 제주시,기타 주점업,3285.714286,제주,제주시
6556601,2136,1980399,d,2019-02-28,22:08,0,제주 제주시,기타 주점업,8714.285714,제주,제주시
6556602,2136,4663851,b,2019-02-28,22:31,0,제주 제주시,기타 주점업,3285.714286,제주,제주시
6556603,2136,4663852,a,2019-02-28,22:35,0,제주 제주시,기타 주점업,4571.428571,제주,제주시
6556604,2136,4663853,e,2019-02-28,22:43,0,제주 제주시,기타 주점업,3571.428571,제주,제주시
6556605,2136,4663666,f,2019-02-28,22:45,0,제주 제주시,기타 주점업,7428.571429,제주,제주시
6556606,2136,4663854,f,2019-02-28,23:03,0,제주 제주시,기타 주점업,3928.571429,제주,제주시
6556607,2136,4663855,d,2019-02-28,23:20,0,제주 제주시,기타 주점업,4500.000000,제주,제주시
6556608,2136,4663855,d,2019-02-28,23:20,0,제주 제주시,기타 주점업,-4500.000000,제주,제주시
6556609,2136,4663855,d,2019-02-28,23:24,0,제주 제주시,기타 주점업,4142.857143,제주,제주시
6556610,2136,4663489,a,2019-02-28,23:24,0,제주 제주시,기타 주점업,4500.000000,제주,제주시
6556611,2136,4663856,d,2019-02-28,23:27,0,제주 제주시,기타 주점업,571.428571,제주,제주시
6556612,2136,4658616,c,2019-02-28,23:54,0,제주 제주시,기타 주점업,5857.142857,제주,제주시

## apply()를 사용하면

In [62]:
# 위에서 했던 것을 사실 apply로 한줄로 할 수 있다! 
train['sido'] = train['region'].apply(get_sido)
# apply : 내가 원하는 데이터를 함수에 넣어서 하나씩 뽑아줘 
train['sido']

0          시도정보없음
1          시도정보없음
2          시도정보없음
3          시도정보없음
4          시도정보없음
            ...
6556608        제주
6556609        제주
6556610        제주
6556611        제주
6556612        제주
Name: sido, Length: 6556613, dtype: object

# lambda

In [ ]:
def get_sido(x):
    return x.split()[0]
# = 같은 말임 
get_sido = lambda x:x.split()[0]

In [63]:
# 람다를 쓰면 함수 안 만들고 두 줄로 쓸 수 있다..! 
get_sigungu = lambda x: x.split()[1]

In [64]:
train['sigungu'] = train['region'].apply(get_sigungu)

## 더 짧게

In [65]:
# 그냥 apply에다가 lamba를 넣어주면 됨! (굳이 함수를 안 만들어도 된다)
train['sigungu'] = train['region'].apply(lambda x: x.split()[1])
# 이렇게 쓰는 게 코드가 더 명확함 (함수 이름을 쓰면 어떻게 동작하는 지 다시 함수로 가서 봐야하니까 )

# 응용

In [66]:
train['transacted_date'] = pd.to_datetime(train['transacted_date'])

### Q1. 컬럼 `transacted_date`를 참조하여 결제가 있었던 연도를 뽑아내 `year`라는 칼럼에 저장하세요.

### Q2. 컬럼 `transacted_date`를 참조하여 결제가 있었던 월을 뽑아내 `month`라는 칼럼에 저장하세요.

In [52]:
# 힌트
sample = datetime.datetime.strptime('2019-09-30', '%Y-%m-%d').date()
print(sample.year)
print(sample.month)

2019
9