In [63]:
def solution(s):
    if len(s)%2==1:
        index = (len(s) - 1) // 2
        return s[index]
    else:
        return s[(len(s)//2-1):(len(s)//2+1)]

In [64]:
assert solution("abcde") == "c"
assert solution("aaaaa") == "a"
assert solution("bbb") == "b"

In [65]:
assert solution("qwer") == "we"
assert solution("aaaaaa") == "aa"
assert solution("bbbb") == "bb"

In [88]:
# 서울에서 김서방 찾기 
# index 함수 쓰면 바로 찾아지는 대박...
seoul = ['Jane', 'Kim']
def solution(seoul):
    KimIdx= seoul.index('Kim')
    return "김서방은 {}에 있다".format(KimIdx)

In [89]:
seoul = ['Jane', 'Kim']
assert solution(seoul) =='김서방은 1에 있다'

In [96]:
# 수박수박수박수박수??? 
def solution(n):
    answer = ''
    for i in range(1,n+1):
        if i%2 == 0:
            answer +='박'
        else:
            answer +='수'
    return answer

In [97]:
assert solution(3) == '수박수'
assert solution(4) == '수박수박'

In [104]:
# 문자열을 정수로 바꾸기 
# 문자열 s를 숫자로 변환한 결과를 반환하는 함수 soulution 완성 
def solution(s):
    answer = 0
    return int(s)

In [99]:
s의 길이는 1 이상 5이하입니다.
s의 맨앞에는 부호(+, -)가 올 수 있습니다.
s는 부호와 숫자로만 이루어져있습니다.
s는 0으로 시작하지 않습니다.

SyntaxError: invalid syntax (<ipython-input-99-25cda30762f0>, line 1)

In [105]:
s = '1234'
assert solution(s) == 1234

In [106]:
# k번째 수 
def solution(numbers, command):
    begin, end, k = command
    return sorted(numbers[begin - 1:end])[k - 1]

In [109]:
assert solution(numbers, command) == [5,6,3]

NameError: name 'numbers' is not defined

In [119]:
# 두 정수 사이의 합 
def solution(a,b):
    answer = 0
    for i in range(min(a,b), max(a,b)+1):
        answer += i
    return answer

In [120]:
assert solution(3,5) == 12
assert solution(3,3) == 3
assert solution(5,3) == 12

In [128]:
# 완주하기 못한 선수 
def solution(participant, completion):
    answer = ''
    for i in participant:
        if i not in completion:
            answer = i
    # 완주하지 못한 선수가 동명이인인 경우엔 참가자 명단에 남은 이름이 없음
    if anwer == '':
        if ()
    return 'vinko'

In [129]:
assert solution(["marina", "josipa", "nikola", "vinko", 'leo', "filipa"], ["josipa", "filipa", "marina", "nikola"]) == 'vinko'
assert solution(["leo", "kiki", "eden"], ["eden", "kiki"]) == 'leo')

SyntaxError: invalid syntax (<ipython-input-129-a8e7a2bcf969>, line 2)

In [136]:
assert solution(["marina", "josipa", "nikola", "vinko", 'leo', "filipa"], ["josipa", "filipa", "marina", "nikola"]) == 'vinko'

In [2]:
# 프로그래밍 1 
def solution(win_lose):
    answer = 0
    if 

    return 1

In [60]:
import pandas as pd
test1 = pd.read_csv('test111.csv')

In [61]:
test1

        date    product_id customer_id
0  2019.2.13         lemon           B
1  2019.2.13    grapefruit           C
2  2019.2.14  cotton_candy           B
3  2019.2.14  cotton_candy           A
4  2019.2.14  cotton_candy           A
5  2019.2.14    grapefruit           A

In [66]:
import sqlite3
connection = sqlite3.connect('test111.csv')

In [74]:
connection.row_factory = sqlite3.Row

cursor = connection.cursor()

In [75]:
cursor.execute('SELECT * FROM test1')

rows = cursor.fetchall()

pd.DataFrame(rows, columns=rows[0].keys())

DatabaseError: file is not a database

In [79]:
sql = '''
SELECT DISTINCT date, product_id, customer_id
        FROM billing
        WHERE product_id = 'cotton_candy' AND date = "2019-02-14"
'''