# INNER JOIN with Pandas

## 과제 솔루션

In [1]:
import pandas as pd

## 데이터 읽기

In [2]:
orders = pd.read_csv('https://raw.githubusercontent.com/dataitgirls3/Data/master/Orders.csv')
orderDetails = pd.read_csv('https://raw.githubusercontent.com/dataitgirls3/Data/master/OrderDetails.csv')
products = pd.read_csv('https://raw.githubusercontent.com/dataitgirls3/Data/master/Products.csv')
categories = pd.read_csv('https://raw.githubusercontent.com/dataitgirls3/Data/master/Categories.csv')

### Q1. Products의 CategoryID와 Categories 테이블을 이용해서, 어떤 카테고리의 상품이 가장 많이 주문되었는지 구하세요.

In [8]:
orderDetails.head(2)

   OrderDetailID  OrderID  ProductID  Quantity
0              1    10248         11        12
1              2    10248         42        10

In [5]:
products.head(2)

   ProductID ProductName  SupplierID  CategoryID                Unit  Price
0          1       Chais           1           1  10 boxes x 20 bags   18.0
1          2       Chang           1           1  24 - 12 oz bottles   19.0

In [6]:
categories.head(2)

   CategoryID CategoryName                                        Description
0           1    Beverages        Soft drinks, coffees, teas, beers, and ales
1           2   Condiments  Sweet and savory sauces, relishes, spreads, an...

In [10]:
od = orderDetails.merge(products, on='ProductID', how='inner')[['OrderDetailID', 'ProductID', 'Quantity', 'CategoryID']]

In [17]:
categorized_orderDetail = od.merge(categories, on='CategoryID', how='inner')

In [19]:
categorized_orderDetail.groupby('CategoryName').size()

CategoryName
Beverages          93
Condiments         49
Confections        84
Dairy Products    100
Grains/Cereals     42
Meat/Poultry       50
Produce            33
Seafood            67
dtype: int64

In [51]:
categorized_orderDetail['CategoryName'].value_counts()
# 카테고리 그룹별로 컴포넌트가 몇 개 들어가 있는 지 구해주는 value_counts()

Dairy Products    100
Beverages          93
Confections        84
Seafood            67
Meat/Poultry       50
Condiments         49
Grains/Cereals     42
Produce            33
Name: CategoryName, dtype: int64

### Q2. Orders 테이블의 OrderDate를 이용해, 어떤 날에 주문이 가장 많았는지 알려주세요.

In [31]:
orders_cnt = orders.groupby('OrderDate').size()

In [36]:
orders_cnt[orders_cnt == orders_cnt.max()].index

Index(['1996-07-08', '1996-07-19', '1996-08-01', '1996-08-14', '1996-08-27',
       '1996-09-09', '1996-09-20', '1996-10-03', '1996-10-16', '1996-10-29',
       '1996-11-11', '1996-11-22', '1996-11-26', '1996-11-28', '1996-12-03',
       '1996-12-05', '1996-12-09', '1996-12-12', '1996-12-16', '1996-12-18',
       '1996-12-23', '1996-12-25', '1996-12-27', '1997-01-01', '1997-01-03',
       '1997-01-07', '1997-01-10', '1997-01-14', '1997-01-16', '1997-01-21',
       '1997-01-23', '1997-01-27', '1997-01-30', '1997-02-03', '1997-02-05',
       '1997-02-10'],
      dtype='object', name='OrderDate')

### Q3. Orders 테이블의 OrderDate를 이용해, 어떤 날에 매출금액이 가장 높았는지 알려주세요.

In [42]:
orders.sample() #데이터 확인할 때 head()는 앞의 데이터들만 보는 데, 무작위로 샘플링해서 보여주는 sample 이라는 함수도 있음!

     OrderID  CustomerID  EmployeeID   OrderDate  ShipperID
184    10432          75           3  1997-01-31          2

In [54]:
order_all = orders.merge(orderDetails, on='OrderID', how='inner').merge(products, on='ProductID', how='inner')
# merge를 한 코드에 두번 해줄 수 있음!

In [58]:
order_all['priceByProduct'] = order_all['Price'] * order_all['Quantity']

In [62]:
price_by_order = order_all.groupby(['OrderID', 'OrderDate'])['priceByProduct'].sum()
# 선미님의 코드 오류! orderId로 또 그룹바이를 해버려서 결과값이 달라짐!

In [66]:
price_by_order[price_by_order == price_by_order.max()]

OrderID  OrderDate
10372    1996-12-04    15353.6
Name: priceByProduct, dtype: float64