In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import folium
%matplotlib inline

In [15]:
# 거주인구 =pd.read_csv('TB_T_RSPOP_ADMI.txt',
                 names=['STD_YM','ADMI_CD','ADMI_NM','SEXDSTN_CD','AGRDE_CD','RSPOP_CNT','CTY_NM'])

In [20]:
거주인구 =pd.read_csv('TB_T_RSPOP_ADMI.txt')

In [21]:
거주인구.head()

  `STD_YM`|`ADMI_CD`|`ADMI_NM`|`SEXDSTN_CD`|`AGRDE_CD`|`RSPOP_CNT`|`CTY_NM`
0  `201807`|`11230660`|`장안2동`|`1`|`0004`|`667`|`동...
1   `201807`|`11590660`|`대방동`|`1`|`0004`|`599`|`동작구`
2   `201807`|`11170700`|`보광동`|`1`|`0004`|`156`|`용산구`
3   `201807`|`11290525`|`성북동`|`1`|`0004`|`210`|`성북구`
4  `201807`|`11620585`|`낙성대동`|`1`|`0004`|`228`|`관악구`