In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('./funda_train.csv')

In [5]:
train.head()

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,0,0,b,2016-06-01,13:13,0,NaN,기타 미용업,1857.142857
1,0,1,h,2016-06-01,18:12,0,NaN,기타 미용업,857.142857
2,0,2,c,2016-06-01,18:52,0,NaN,기타 미용업,2000.000000
3,0,3,a,2016-06-01,20:22,0,NaN,기타 미용업,7857.142857
4,0,4,c,2016-06-02,11:06,0,NaN,기타 미용업,2000.000000

In [6]:
temp = train[(train['transacted_date'] >= '2018-03-01') & (train['transacted_date'] <= '2018-05-31')]
temp_groupby = temp.groupby(['store_id'])['amount'].sum()

In [7]:
temp_groupby.head(5)

store_id
0    2.171000e+06
1    2.977143e+05
2    9.461429e+05
4    2.475643e+06
5    1.111857e+06
Name: amount, dtype: float64

In [117]:
a = [1, 2, 3, 4]

In [118]:
a[0]

1

In [119]:
s = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [120]:
s = {'A': 1, 'B':2, 'C':3, 'D':4}

In [121]:
s['A']

1

In [122]:
s['A']

1

In [123]:
type(temp_groupby.reset_index())

pandas.core.frame.DataFrame

In [124]:
baseline = temp_groupby.reset_index()

In [125]:
# list(train['store_id'].unique())

In [126]:
# list(baseline['store_id'].unique())

In [127]:
# train[train['store_id'] == 2119]

In [128]:
for i in [1, 2, 3]:
    print(i)

1
2
3

# 풀이1

In [129]:
set(train['store_id']) - set(baseline['store_id'])

{271, 279, 515, 588, 706, 795, 999, 1379, 1435, 2081, 2094, 2119}

# 풀이2

In [130]:
train[~train['store_id'].isin(list(baseline['store_id'].unique()))]['store_id'].unique()

array([ 271,  279,  515,  588,  706,  795,  999, 1379, 1435, 2081, 2094,
       2119], dtype=int64)

In [131]:
baseline_storeid = list(baseline['store_id'].unique())

In [132]:
#baseline_storeid

In [133]:
missing = train[~train['store_id'].isin(baseline_storeid)]

In [134]:
missing['store_id'].unique()

array([ 271,  279,  515,  588,  706,  795,  999, 1379, 1435, 2081, 2094,
       2119], dtype=int64)

# 풀이 3

In [135]:
train_id_list = list(train['store_id'].unique())
baseline_id_list = list(baseline['store_id'].unique())

In [136]:
missing = []
for i in train_id_list:
    if i not in baseline_id_list:
        missing.append(i)
print(missing)

[271, 279, 515, 588, 706, 795, 999, 1379, 1435, 2081, 2094, 2119]

# 새로운 아이디어

In [137]:
#1 (2019년 1월부터 2월까지 매출의 합 / 59(일)) * 92
#2 92일동안 월, 화, 수, 목, 금, 토, 일 갯수를 구해서 
#가지고 있는 데이터로 store_id 271번 월 50만원, 화 20만원, 수 60만원.... , 일 100만원
#92일 동안 월요일 13번, 화 12번, 수 13번... , 일 14번.
#50만원 * 13, 20만원 * 12 .... store_id 92일동안 =

In [138]:
missing = set(train['store_id']) - set(baseline.index)
missing_df = train[train['store_id'].isin(list(missing))]

In [139]:
missing_predict = missing_df[(missing_df['transacted_date'] >= '2019-02-01') & (missing_df['transacted_date'] <= '2019-02-28')].groupby('store_id')['amount'].sum() * 92 / 28

In [140]:
#total_amout.reset_index()

In [141]:
train[train['store_id'].isin([0,1,2,4])]

,Unnamed: 0,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,2702,0,321,b,2018-01-03,11:39,0,NaN,기타 미용업,2000.000000
1,2703,0,1104,c,2018-01-03,12:03,0,NaN,기타 미용업,2000.000000
2,2704,0,1199,b,2018-01-03,12:39,0,NaN,기타 미용업,2000.000000
3,2705,0,927,g,2018-01-03,14:39,0,NaN,기타 미용업,7142.857143
4,2706,0,1200,c,2018-01-03,15:28,0,NaN,기타 미용업,1714.285714
5,2707,0,1201,a,2018-01-03,17:08,0,NaN,기타 미용업,1857.142857
6,2708,0,1202,a,2018-01-03,19:39,0,NaN,기타 미용업,20000.000000
7,2709,0,992,c,2018-01-04,15:09,0,NaN,기타 미용업,6428.571429
8,2710,0,1169,h,2018-01-04,17:02,0,NaN,기타 미용업,1857.142857
9,2711,0,1203,a,2018-01-05,14:04,3,NaN,기타 미용업,11428.571429
10,2712,0,1204,c,2018-01-05,14:40,0,NaN,기타 미용업,21428.571429
11,2713,0,1205,a,2018-01-05,16:30,0,NaN,기타 미용업,2000.000000
12,2714,0,73,a,2018-01-05,18:07,3,NaN,기타 미용업,18571.428571
13,2715,0,855,a,2018-01-05,18:27,0,NaN,기타 미용업,1857.142857
14,2716,0,1173,a,2018-01-06,10:40,0,NaN,기타 미용업,3285.714286
15,2717,0,727,c,2018-01-06,13:15,0,NaN,기타 미용업,2000.000000
16,2718,0,871,f,2018-01-06,14:39,0,NaN,기타 미용업,10000.000000
17,2719,0,346,a,2018-01-06,15:58,0,NaN,기타 미용업,1428.571429
18,2720,0,1206,c,2018-01-06,17:20,0,NaN,기타 미용업,6428.571429
19,2721,0,1047,b,2018-01-06,19:00,0,NaN,기타 미용업,7142.857143
20,2722,0,1207,b,2018-01-07,11:21,0,NaN,기타 미용업,2000.000000
21,2723,0,159,c,2018-01-07,11:58,0,NaN,기타 미용업,2000.000000
22,2724,0,560,c,2018-01-07,15:12,0,NaN,기타 미용업,6428.571429
23,2725,0,1208,c,2018-01-07,20:00,0,NaN,기타 미용업,7142.857143
24,2726,0,833,c,2018-01-08,13:27,0,NaN,기타 미용업,10000.000000
25,2727,0,32,g,2018-01-08,15:49,0,NaN,기타 미용업,2000.000000
26,2728,0,160,a,2018-01-08,16:14,0,NaN,기타 미용업,11428.571429
27,2729,0,1209,b,2018-01-08,19:33,0,NaN,기타 미용업,2000.000000
28,2730,0,984,b,2018-01-08,19:46,0,NaN,기타 미용업,7142.857143
29,2731,0,1210,h,2018-01-10,13:08,0,NaN,기타 미용업,2000.000000
...,...,...,...,...,...,...,...,...,...,...
6048,14647,4,14599,b,2019-02-24,19:52,0,서울 종로구,NaN,4000.000000
6049,14648,4,14600,e,2019-02-25,14:46,0,서울 종로구,NaN,4857.142857
6050,14649,4,14601,c,2019-02-25,15:18,0,서울 종로구,NaN,2142.857143
6051,14650,4,14602,c,2019-02-25,18:07,0,서울 종로구,NaN,4000.000000
6052,14651,4,14603,a,2019-02-25,18:33,0,서울 종로구,NaN,4571.428571
6053,14652,4,14604,f,2019-02-25,19:10,0,서울 종로구,NaN,3714.285714
6054,14653,4,14605,g,2019-02-25,19:49,0,서울 종로구,NaN,3142.857143
6055,14654,4,14606,c,2019-02-25,20:43,0,서울 종로구,NaN,2857.142857
6056,14655,4,14607,g,2019-02-25,20:45,0,서울 종로구,NaN,5285.714286
6057,14656,4,14608,d,2019-02-26,15:09,0,서울 종로구,NaN,5000.000000
6058,14657,4,14609,a,2019-02-26,17:00,0,서울 종로구,NaN,3142.857143
6059,14658,4,14610,c,2019-02-26,17:57,0,서울 종로구,NaN,4571.428571
6060,14659,4,14611,c,2019-02-26,18:17,0,서울 종로구,NaN,5000.000000
6061,14660,4,14092,c,2019-02-26,19:21,0,서울 종로구,NaN,5000.000000
6062,14661,4,14612,c,2019-02-26,19:46,0,서울 종로구,NaN,2428.571429
6063,14662,4,12555,e,2019-02-27,13:37,0,서울 종로구,NaN,3142.857143
6064,14663,4,14613,b,2019-02-27,15:59,0,서울 종로구,NaN,3571.428571
6065,14664,4,14049,c,2019-02-27,17:57,0,서울 종로구,NaN,2428.571429
6066,14665,4,14614,f,2019-02-27,19:48,0,서울 종로구,NaN,10714.285714
6067,14666,4,14615,h,2019-02-27,20:01,0,서울 종로구,NaN,4714.285714
6068,14667,4,14593,a,2019-02-28,17:27,0,서울 종로구,NaN,-10428.571429
6069,14668,4,14616,a,2019-02-28,17:28,0,서울 종로구,NaN,10428.571429
6070,14669,4,14617,c,2019-02-28,17:44,0,서울 종로구,NaN,-6000.000000
6071,14670,4,14617,c,2019-02-28,17:44,0,서울 종로구,NaN,6000.000000
6072,14671,4,14617,c,2019-02-28,17:44,0,서울 종로구,NaN,6000.000000
6073,14672,4,12888,a,2019-02-28,18:15,0,서울 종로구,NaN,5142.857143
6074,14673,4,14618,g,2019-02-28,18:39,0,서울 종로구,NaN,3000.000000
6075,14674,4,14619,a,2019-02-28,20:02,0,서울 종로구,NaN,2285.714286
6076,14675,4,14324,a,2019-02-28,20:09,0,서울 종로구,NaN,6714.285714
6077,14676,4,13567,c,2019-02-28,21:14,0,서울 종로구,NaN,3142.857143

In [142]:
#내가 했던 코딩_이건...데이터 연결이 아닌 리스트 연결이기 때문에 부적합.

In [143]:
#store_id = list(set(train['store_id']))

In [144]:
#for j in (0,len(missing)):
#    if j not in store_id:




#        total_amount.append(j)
#print(total_amout)

In [145]:
pd.concat([missing_predict, baseline]).to_csv('./sub20190814.csv')

In [146]:
#pd.concat([exceptions_submission, submission]).to_csv('./submission.csv')