In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import folium
%matplotlib inline
import os
import requests
# LOCATIONIQ_TOKEN = os.environ['LOCATIONIQ_TOKEN']

In [2]:
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
# Window 의 한글 폰트 설정
# plt.rc('font',family='Malgun Gothic')
# Mac 의 한글 폰트 설정
plt.rc('font', family='AppleGothic') 
plt.rc('axes', unicode_minus=False)

set_matplotlib_formats('retina')

In [3]:
a = pd.read_csv('상권배후지-추정유동인구(2019년).csv', encoding='CP949')

In [ ]:
# 행정동별 인구수 코로플레스 맵 만들기

# 시계열 인구 변화 보기

# 거주자 수 기준 유출입 인구 변화 보여주기

# 선택한 행정동의 성별, 연령대별 인구수 그래프 추가하기

# 시계열 인구수를 한 눈에 볼 수 있는 히트맵 그리기

# 성별,연령 필터 만들기

# 4의 인구수 그래프를 생활 인구수-거주자수 range area chart 로 표시하기

In [4]:
a.head()

,stdr_yy_cd,stdr_qu_cd,trdar_se_cd,trdar_se_cd_nm,trdar_cd,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_10_flpop_co,...,fag_60_above_sattm_3_flpop_co,fag_60_above_sattm_4_flpop_co,fag_60_above_sattm_5_flpop_co,fag_60_above_sattm_6_flpop_co,fag_60_above_suntm_1_flpop_co,fag_60_above_suntm_2_flpop_co,fag_60_above_suntm_3_flpop_co,fag_60_above_suntm_4_flpop_co,fag_60_above_suntm_5_flpop_co,fag_60_above_suntm_6_flpop_co
0,2019,1,A,골목상권,1000948,백제고분로34길,891686,458778,432913,27424,...,1494,1363,1537,854,1393,1941,1944,1515,1383,668
1,2019,1,A,골목상권,1000949,백제고분로39길,1350290,664267,686024,60609,...,2645,2297,2477,1124,1707,2509,3710,2505,2157,883
2,2019,1,A,골목상권,1000950,백제고분로42길,1537065,746194,790871,107321,...,2662,2604,2928,1373,2269,2591,2612,2503,2554,1098
3,2019,1,A,골목상권,1000951,백제고분로45길,2034278,1011486,1022793,80721,...,3303,3096,3915,1923,3015,3072,3108,2935,3532,1630
4,2019,1,A,골목상권,1000952,백제고분로46길,1700466,832267,868198,109671,...,3110,3028,3634,1954,3414,3803,3472,2991,3483,1781

In [9]:
a.shape

(1010, 532)

In [35]:
a.columns

Index(['stdr_yy_cd', 'stdr_qu_cd', 'trdar_se_cd', 'trdar_se_cd_nm', 'trdar_cd',
       'trdar_cd_nm', 'tot_flpop_co', 'ml_flpop_co', 'fml_flpop_co',
       'agrde_10_flpop_co',
       ...
       'fag_60_above_sattm_3_flpop_co', 'fag_60_above_sattm_4_flpop_co',
       'fag_60_above_sattm_5_flpop_co', 'fag_60_above_sattm_6_flpop_co',
       'fag_60_above_suntm_1_flpop_co', 'fag_60_above_suntm_2_flpop_co',
       'fag_60_above_suntm_3_flpop_co', 'fag_60_above_suntm_4_flpop_co',
       'fag_60_above_suntm_5_flpop_co', 'fag_60_above_suntm_6_flpop_co'],
      dtype='object', length=532)

In [11]:
a.isnull().sum()

stdr_yy_cd                       0
stdr_qu_cd                       0
trdar_se_cd                      0
trdar_se_cd_nm                   0
trdar_cd                         0
                                ..
fag_60_above_suntm_2_flpop_co    0
fag_60_above_suntm_3_flpop_co    0
fag_60_above_suntm_4_flpop_co    0
fag_60_above_suntm_5_flpop_co    0
fag_60_above_suntm_6_flpop_co    0
Length: 532, dtype: int64

In [5]:
a1 = ['trdar_cd_nm','tot_flpop_co','ml_flpop_co'
      ,'fml_flpop_co','agrde_10_flpop_co','agrde_20_flpop_co','agrde_30_flpop_co','agrde_40_flpop_co'
      ,'agrde_50_flpop_co','agrde_60_above_flpop_co']
aa = a[a1]

In [46]:
aa['trdar_cd_nm'].unique()

array(['백제고분로34길', '백제고분로39길', '백제고분로42길', ..., '천호옛14길', '천호옛길',
       '풍성로37가길'], dtype=object)

In [47]:
aa.columns

Index(['trdar_cd_nm', 'tot_flpop_co', 'ml_flpop_co', 'fml_flpop_co',
       'agrde_10_flpop_co', 'agrde_20_flpop_co', 'agrde_30_flpop_co',
       'agrde_40_flpop_co', 'agrde_50_flpop_co', 'agrde_60_above_flpop_co'],
      dtype='object')

In [6]:
address_df = aa[pd.notnull(aa['trdar_cd_nm'])]

aa.shape, address_df.shape

((1010, 10), (1010, 10))

In [12]:
len(aa['trdar_cd_nm'])

300

In [13]:
address_df['trdar_cd_nm'][1]

'백제고분로39길'

In [9]:
from geocoder import geocode
# key = os.environ['KAKAO_REST_API_KEY']

In [23]:
def geocode(address):
    url = 'https://dapi.kakao.com/v2/local/search/address.json'
    params = {'query': address}
    headers = {'Authorization': 'KakaoAK ' + key}
    r = requests.get(url, params=params, headers=headers) #get: url 주소 쳐서 이동하는 것
    results = r.json()['documents']
    if not results:
        return None, None
    address = results[0]['address']
    return float(address['y']), float(address['x'])

geocode('풍성로37가길')

TypeError: 'NoneType' object is not subscriptable

In [21]:
aa.max()

trdar_cd_nm            흑석로9길
tot_flpop_co         7673090
ml_flpop_co          4038509
fml_flpop_co         3634580
agrde_20_flpop_co    2689987
agrde_30_flpop_co    1981529
agrde_40_flpop_co    1578402
agrde_50_flpop_co    1211469
dtype: object

In [22]:
aa[aa['tot_flpop_co'] == 7673090]

,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [23]:
aa[aa['ml_flpop_co'] ==4038509 ]

,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [24]:
aa[aa['agrde_20_flpop_co'] == 2689987] #마포구

,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
508,대흥로21길,5303738,2346641,2957101,2689987,802295,519484,507690

In [25]:
aa[aa['agrde_30_flpop_co'] == 1981529] #서대문구

,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [26]:
aa[aa['agrde_40_flpop_co'] == 1578402]

,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
488,북아현로4길,7673090,4038509,3634580,1801593,1981529,1578402,1207046

In [27]:
aa[aa['agrde_50_flpop_co'] == 1211469]

,trdar_cd_nm,tot_flpop_co,ml_flpop_co,fml_flpop_co,agrde_20_flpop_co,agrde_30_flpop_co,agrde_40_flpop_co,agrde_50_flpop_co
493,신촌로37길,7591396,3958952,3632443,1768195,1951495,1555277,1211469