In [1]:
import pandas as pd
tour_place_df = pd.read_csv('tour_place.csv')
cafe_df = pd.read_csv('cafe_final.csv')

In [2]:
tour_place_df.head

<bound method NDFrame.head of       Unnamed: 0            name                     address   latitude  \
0              0  (주)제주해양레저 투명카약  제주특별자치도 제주시 애월읍 애월리 2490-1  33.462353
1              1     1100고지(휴게소)      제주특별자치도 서귀포시 색달동 산 1-3  33.339912
2              2        1100고지습지      제주특별자치도 서귀포시 색달동 산 1-2  33.357500
3              3          1112도로      제주특별자치도 제주시 봉개동 산 78-1  33.439373
4              4        4·3해원방사탑     제주특별자치도 제주시 일도2동 837-20  33.505470
...          ...             ...                         ...        ...
1098        1098             효명사   제주특별자치도 서귀포시 남원읍 하례리 산 45  33.342037
1099        1099            후포해변     제주특별자치도 제주시 추자면 대서리 267  33.962368
1100        1100              휴림  제주특별자치도 제주시 애월읍 광령리 2873-6  33.370172
1101        1101      휴애리 자연생활공원   제주특별자치도 서귀포시 남원읍 신례리 2081  33.308540
1102        1102      힐링카약파크비체올린           제주시 한경면 판포리 725번지  33.359010

       longitude
0     126.310490
1     126.436820
2     126.462920
3     126.628450
4     126.534510
...          ...
1098  126.588421
1099  126.289403
1100  126.481970
1101  126.634480
1102  126.211840

[1103 rows x 5 columns]>

In [3]:
cafe_df.head()

,Unnamed: 0,final_address,addrbunho,address,cafe,cafe_id,image_url,franchise,si,town,ri,lat,lng
0,0,제주특별자치도 서귀포시 서귀동 294-24,294-24,제주특별자치도 서귀포시 서귀동,여정다방,11877497,NaN,0.0,서귀포시,서귀포시,서귀동,33.248312,126.561575
1,1,제주특별자치도 제주시 외도일동 475-8,475-8,제주특별자치도 제주시 외도일동,아장아장 베이비카페,1263620627,http://t1.daumcdn.net/place/83909D95B967478D80...,0.0,제주시,제주시,외도일동,33.489895,126.430688
2,2,제주특별자치도 서귀포시 대정읍 보성리 175-6,175-6,제주특별자치도 서귀포시 대정읍 보성리,소소희,368243275,http://t1.daumcdn.net/place/8395E365EA5B4F04BB...,0.0,서귀포시,대정읍,보성리,33.274976,126.278127
3,3,제주특별자치도 제주시 건입동 1325,1325,제주특별자치도 제주시 건입동,항구다방,1571310600,NaN,0.0,제주시,제주시,건입동,33.516313,126.528937
4,4,제주특별자치도 서귀포시 성산읍 삼달리 437-5,437-5,제주특별자치도 서귀포시 성산읍 삼달리,두모악무인찻집,13571332,http://t1.daumcdn.net/place/2535E720C72A4A5B9D...,0.0,서귀포시,성산읍,삼달리,33.371935,126.854377

In [4]:
import geopy.distance

In [5]:
def distance_cafe_place(place, cafe):
    place_pos = place[['latitude', 'longitude']].values
    cafe_pos = cafe[['lat', 'lng']].values
    return geopy.distance.vincenty(place_pos, cafe_pos).m

distance_cafe_place(tour_place_df.iloc[0], cafe_df.iloc[0])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  after removing the cwd from sys.path.

33312.562679878065

In [6]:
place_df = tour_place_df[~tour_place_df.latitude.isna()]
place_df.shape

(1102, 5)

In [7]:
existed_cafe_df = cafe_df[~cafe_df['lat'].isna()]
cafe_df.shape, existed_cafe_df.shape

((3405, 13), (3379, 13))

In [8]:
distance_cafe_place(place_df.iloc[0], existed_cafe_df.iloc[0])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  after removing the cwd from sys.path.

33312.562679878065

In [9]:
def distance_cafe_places(place, existed_cafe_df):
    return [distance_cafe_place(place, existed_cafe_df.iloc[i]) for i in range(existed_cafe_df.shape[0])]
place  = place_df.iloc[0]
distanced_cafe = existed_cafe_df.assign(distance=distance_cafe_places(place, existed_cafe_df))
distanced_cafe.head(1)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  after removing the cwd from sys.path.

,Unnamed: 0,final_address,addrbunho,address,cafe,cafe_id,image_url,franchise,si,town,ri,lat,lng,distance
0,0,제주특별자치도 서귀포시 서귀동 294-24,294-24,제주특별자치도 서귀포시 서귀동,여정다방,11877497,NaN,0.0,서귀포시,서귀포시,서귀동,33.248312,126.561575,33312.56268

In [89]:
# 여기서 각자 맡은 것만
# place_df[0:181]
# place_df[180:361]
# place_df[360:541]
# place_df[540:721]
# place_df[720:900]
# place_df[901:1106]

(1102, 5)

In [90]:
place_df.head()

,Unnamed: 0,name,address,latitude,longitude
0,0,(주)제주해양레저 투명카약,제주특별자치도 제주시 애월읍 애월리 2490-1,33.462353,126.31049
1,1,1100고지(휴게소),제주특별자치도 서귀포시 색달동 산 1-3,33.339912,126.43682
2,2,1100고지습지,제주특별자치도 서귀포시 색달동 산 1-2,33.357500,126.46292
3,3,1112도로,제주특별자치도 제주시 봉개동 산 78-1,33.439373,126.62845
4,4,4·3해원방사탑,제주특별자치도 제주시 일도2동 837-20,33.505470,126.53451

In [11]:
recommended_places = []

for i in range(181,361): #1) 수정 필요 - 각자 맡은 범위로 
    place = place_df.iloc[i]
    print(i, place['name'])
    distanced_place_df = existed_cafe_df.assign(distance=distance_cafe_places(place, existed_cafe_df))
    places = distanced_place_df.sort_values(by=['distance'])[['cafe', 'distance']][:30].values
    recommended_places.append(places)

cafe_with_place = place_df[181:361].assign(places=recommended_places) #2) 수정 필요 - 각자 맡은 범위로 
cafe_with_place.to_csv('cafe_with_place1.csv')

181 대정향교

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  after removing the cwd from sys.path.

182 대정현역사자료전시관
183 대천이오름
184 대평포구
185 대포포구
186 대한민국최남단기념비/ 마라도 기념비
187 더 플래닛 (THE PLANET)
188 더데오름(가가악)
189 더럭초등학교(구, 더럭분교)
190 더마카트
191 더마파크
192 덕천리 팔자 좋아 길
193 도너리오름(돌오름,돝내린오름,골체오름)
194 도두동 무지개 해안도로
195 도두봉
196 도두항
197 도두해안도로
198 도령모루
199 도리미오름
200 도순다원
201 독자봉
202 돈내코
203 돈내코유원지
204 돈대산
205 돈대산산림휴양산책로
206 돈두미오름(돈도름,돈대미)
207 돌고래하우스(캠핑장)
208 돌미오름
209 돔박이오름 (동박악)
210 돔배오름
211 돔베낭골
212 돔베낭길
213 동거문이오름
214 동검은이오름(거미오름)
215 동계 정온 유허비
216 동굴의 다원 다희연
217 동귀방파제
218 동백동산
219 동백마을
220 동백포레스트
221 동복환해장성
222 동산농원 딸기체험장
223 동알오름
224 동일리포구
225 돛오름
226 돝오름(돗오름)
227 두맹이골목
228 두산봉(말미오름)
229 둔지봉
230 뒤굽은이 (뒤꾸부니, 뒤곱은이)
231 뒤굽은이오름
232 드라마월드
233 들렁모루 산책길
234 들레오름 (月坪峰, 月來岳, 月下岳)
235 들리오름 (들위오름)
236 등머을레져
237 디스커버제주
238 따라비오름
239 라신동
240 라온골프클럽
241 라온승마클럽
242 라이트 아트 페스타
243 레더한
244 렛츠런파크
245 렛츠런팜 양귀비꽃
246 렛츠런팜제주
247 로로 요가
248 로봇스퀘어
249 마라도(마라해양도립공원)
250 마라도관광쉼터
251 마라도기원정사
252 마라도등대
253 마라도성당
254 마라도잠수함
255 마린파크
256 마방목지
257 마복이오름
258 마오름(한경)
259 막숙
260 만벵듸 공동장지
261 만장굴
262 말찻
263 맛있는 철학자(태반의땅제주)
264 망장포
265 매오름
266 맬튼개 갯담
267 머체오름 (마체오름)
268 머체왓숲길 영농조합법인
269 메이즈랜드
270 명월성지
271 명월팽나무군락
272 모구리 야영장
273 모구리오름
274 모라이
275 모슬봉 (모슬개오름)
276 모슬포항
277 모지오름
278 모진이몽돌해변
279 목시물굴
280 묘산봉 (괴살메)
281 무등이왓터
282 무릉곶자왈
283 무릉도원마을
284 무수천
285 무악(개오름,킄오름,무오름)
286 묵리마을
287 묵리처녀당
288 묵리해안쉼터
289 묵리해안포구
290 문도지오름 (문돗지)
291 문서프
292 문석이오름
293 문섬(서귀포해양도립공원)
294 문화공간 양
295 문화빳데리 충전소
296 문화예술마을 저지리 농어촌체험마을
297 물메 (물미, 수산봉)
298 물영아리오름
299 물찻오름
300 미악산 (턥오름, 쌀오름, 솔오름)
301 미요캔들
302 미천굴
303 민속자연사박물관
304 민속해안로
305 민오름(구좌읍)
306 민오름(봉개동)
307 민오름(오라동)
308 민오름(조천읍)
309 믿거나말거나박물관 제주
310 바구스서핑스쿨
311 바늘오름
312 바당미술관
313 바람모루
314 바이나흐튼 크리스마스 박물관
315 박물관은 살아있다
316 박성내
317 박수기정
318 발이오름
319 발자국화석공원
320 밝은오름
321 밝은오름 (명월오름)
322 밝은오름 (벌근오름)
323 밧돌오름
324 밧세미 (밭생이)
325 방림원
326 방선문
327 방일리공원
328 방일봉 (방일이동산)
329 방주교회
330 방주오름 (방지오름, 방제오름)
331 배령연대
332 백년초농장박물관
333 백록담
334 백약이오름
335 백제사
336 백제사 템플스테이
337 백조일손지묘(백조일손지지)
338 밸런싱 요가
339 번개과학체험관
340 번개레이싱
341 번널오름 (벌판악)
342 범섬
343 법정사
344 법정악(법정이)
345 법화사
346 법화사지
347 법환포구
348 베릿네오름
349 벨리타(제주베이스캠프)
350 별내린전망대
351 별도봉
352 별도연대
353 별도포구
354 별방진
355 병곳오름 (벵곳오름, 안좌오름)
356 병악현무암지대
357 보롬왓
358 보롬이 오름
359 보롬이(하논, 화구구)
360 보목포구

# 여기까지 입니다♥

In [94]:
# recommended_place2 = []
# recommended_distance2=[]
# place2 = []
# for i in range(10):
#     distance = cafe_with_place_df['places'][0][i][1]
#     name = cafe_with_place_df['places'][0][i][0]
#     if distance <= 1000:
#         recommended_place2.append(name)
#         recommended_distance2.append(distance)

# cafe_with_place_df['name'] = list(recommended_place2)

ValueError: Length of values does not match length of index

In [ ]:
cafe_distance_tourplace = pd.read_csv('./cafe_distance_tourplace.csv')

In [ ]:
cafe_distance_tourplace.head()

In [ ]:
cafe_with_place.head()

In [ ]:
cafe_with_place = pd.read_csv('cafe_with_place.csv')

In [ ]:
cafe_with_place.shape

In [ ]:
cafe_with_place['places'][0]

In [ ]:
cafe_with_place['places']

In [ ]:
cafe_with_place['places']

In [ ]:
cafe_with_place['places'][0][:-1].split('\n')[9][3:][:-1].split("' ")

In [ ]:
cafe_with_place['places'][0].split('\n')[1][3:][:-1].split("' ")

In [ ]:
cafe

In [ ]:
cafe_with_place['places'][0][:-1].split('\n')[9][3:][:-1].split("' ")

In [135]:
cafe_distance = []
for i in range(len(cafe_with_place['places'])):
    cafe = []
    for j in range(10):
        cafe.append(cafe_with_place['places'][i][:-1].split('\n')[j][3:][:-1].split("' "))
    cafe_distance.append(cafe)

AttributeError: 'numpy.ndarray' object has no attribute 'split'

In [ ]:
cafe_distance

In [ ]:
cafe_with_place['places'] = cafe_distance

In [ ]:
cafe_with_place['places'][0]

In [ ]:
name = cafe_with_place['places'][0][0]
name

In [ ]:
cafe_with_place['places'][0][9]

In [153]:
final = []

for place in range(len(cafe_with_place['places'])):
    place_cafe = []
    name = cafe_with_place['name'][place]
#     print(name)
    place_cafe.append(name)
    cafes = []
    for cafe in range(10):
        cafe_distance = cafe_with_place['places'][place][cafe]
        cafes.append(cafe_distance)
    place_cafe.append(cafes)
    final.append(place_cafe)

In [154]:
final[0][1][1][1]
# final[관광지선택][카페리스트선택][카페선택][거리]

61.152342392299964

In [155]:
len(final)

3

In [156]:
under1000 = []
for place in range(len(final)):
    row = []
    name = final[place][0]
    row.append(name)
#     print(name)
    cafes=[]
    for cafe in range(5):
        if float(final[place][1][cafe][1]) < 1000:
#             print(final[place][1][cafe][1])
            cafes.append(final[place][1][cafe][0])
#         print(cafes)
    row.append(cafes)
    under1000.append(row)

In [157]:
under1000

[['(주)제주해양레저 투명카약', ['투썸플레이스 제주애월한담점', '썬셋클리프', '어보브앤비욘드', '바바', '봄날']],
 ['1100고지(휴게소)', []],
 ['1100고지습지', []]]

In [158]:
under1000 = pd.DataFrame(under1000, columns = ['관광지','카페'])

In [159]:
under1000.head()

              관광지                                        카페
0  (주)제주해양레저 투명카약  [투썸플레이스 제주애월한담점, 썬셋클리프, 어보브앤비욘드, 바바, 봄날]
1     1100고지(휴게소)                                        []
2        1100고지습지                                        []

In [160]:
under1000.to_csv("under1000.csv")

In [161]:
under1000 = pd.read_csv("under1000.csv")

In [162]:
under1000 = under1000.drop(columns = 'Unnamed: 0', axis=1)

In [163]:
index = under1000[under1000['카페'] == '[]'].index

In [164]:
under1000 = under1000.drop(index = index)

In [165]:
under1000.head()

              관광지                                                 카페
0  (주)제주해양레저 투명카약  ['투썸플레이스 제주애월한담점', '썬셋클리프', '어보브앤비욘드', '바바', '...

In [166]:
tour_place_df.head()

,Unnamed: 0,name,address,latitude,longitude
0,0,(주)제주해양레저 투명카약,제주특별자치도 제주시 애월읍 애월리 2490-1,33.462353,126.31049
1,1,1100고지(휴게소),제주특별자치도 서귀포시 색달동 산 1-3,33.339912,126.43682
2,2,1100고지습지,제주특별자치도 서귀포시 색달동 산 1-2,33.357500,126.46292
3,3,1112도로,제주특별자치도 제주시 봉개동 산 78-1,33.439373,126.62845
4,4,4·3해원방사탑,제주특별자치도 제주시 일도2동 837-20,33.505470,126.53451

In [167]:
uder1000_final = under1000.merge(tour_place_df, how='left', left_on=['관광지'], right_on = ['name'])
uder1000_final.head()

,관광지,카페,Unnamed: 0,name,address,latitude,longitude
0,(주)제주해양레저 투명카약,"['투썸플레이스 제주애월한담점', '썬셋클리프', '어보브앤비욘드', '바바', '...",0,(주)제주해양레저 투명카약,제주특별자치도 제주시 애월읍 애월리 2490-1,33.462353,126.31049

In [168]:
uder1000_final.drop(columns=['Unnamed: 0','name'], axis=1)

,관광지,카페,address,latitude,longitude
0,(주)제주해양레저 투명카약,"['투썸플레이스 제주애월한담점', '썬셋클리프', '어보브앤비욘드', '바바', '...",제주특별자치도 제주시 애월읍 애월리 2490-1,33.462353,126.31049

In [169]:
uder1000_final = uder1000_final[['관광지', 'address','latitude','longitude', '카페']]

In [170]:
under1000.to_csv("cafe_with_place_v2.csv", index=False)