In [15]:
import pandas as pd
import numpy as np

In [7]:
cafe_id = pd.read_csv('cafe_id.csv')

In [8]:
cafe_id.head()

   Unnamed: 0           0
0           0    13615194
1           1   890539012
2           2   712442596
3           3   661112233
4           4  1811558348

In [16]:
ids = [
    '26094495',
    '819891458',
    '1852395758',
]

In [30]:
from math import ceil

import requests
from bs4 import BeautifulSoup

cafes = []
menus = []
comments = []

for id in ids:
    res = requests.get(f'https://place.map.kakao.com/main/v/{id}')
    data = res.json()
    cafes.append({
        'id': id,
        'name': data['basicInfo']['placenamefull'],
        'image_url': data['basicInfo']['mainphotourl'],
    })

    # menu
    if 'menuInfo' in data:
        for menu in data['menuInfo']['menuList']:
            menus.append({
                'cafe_id': id,
                'cafe': data['basicInfo']['placenamefull'],
                'name': menu['menu'],
                'price': menu['price'],
            })

    # comment
    for page in range(1, ceil(data['comment']['allComntcnt'] / 5) + 1):
        res = requests.get(f'https://place.map.kakao.com/commentlist/v/{id}/{page}')
        data = res.json()
        for comment in data['comment']['list']:
            comments.append({
                'cafe_id': id,
                'cafe': data['comment']['placenamefull'],
                'message': comment.get('contents', ''),
                'point': comment.get('point', ''),
            })

pd.DataFrame(cafes)

         id name                                          image_url
0  26094495  까미노  http://t1.daumcdn.net/place/827554C11BDE4BC5BA...

In [ ]:
from math import ceil

import requests
from bs4 import BeautifulSoup

cafes = []
menus = []
comments = []
# 영업시간 
for id in ids:
    res = requests.get(f'https://place.map.kakao.com/main/v/{id}')
    data = res.json()
    cafes.append({
        'id': id,
        'name': data['basicInfo']['placenamefull'],
        'image_url': data['basicInfo']['mainphotourl'],
    })

    # menu
    if 'menuInfo' in data:
        for menu in data['menuInfo']['menuList']:
            menus.append({
                'cafe_id': id,
                'cafe': data['basicInfo']['placenamefull'],
                'name': menu['menu'],
                'price': menu['price'],
            })

    # comment
    for page in range(1, ceil(data['comment']['allComntcnt'] / 5) + 1):
        res = requests.get(f'https://place.map.kakao.com/commentlist/v/{id}/{page}')
        data = res.json()
        for comment in data['comment']['list']:
            comments.append({
                'cafe_id': id,
                'cafe': data['comment']['placenamefull'],
                'message': comment.get('contents', ''),
                'point': comment.get('point', ''),
            })

pd.DataFrame(cafes)

In [103]:
pd.DataFrame(menus)

      cafe_id  cafe          name  price
0    26094495   까미노       얼그레이 도르  8,000
1    26094495   까미노   까미노 아이스 밀크티  9,000
2    26094495   까미노        블루베리주스  8,000
3    26094495   까미노       블루베리스무디  8,000
4    26094495   까미노         생크림케익  6,500
5  1852395758  사계생활         아메리카노  4,500
6  1852395758  사계생활          카페라떼  5,000
7  1852395758  사계생활  산방카푸치노 (HOT)  5,500
8  1852395758  사계생활  돌담크림모카 (ICE)  6,000
9  1852395758  사계생활  제주말차라떼 (ICE)  6,000

In [104]:
pd.DataFrame(comments)

       cafe_id  cafe                                            message  point
0     26094495   까미노  까미노..\n차와 빵좀 아는 사장님이네요~\n플루트빵도 맛나고 커피 좋아요\n포르뚜...      5
1     26094495   까미노                                             인케리어 찡      5
2     26094495   까미노  바다 실컷 본 후 이곳에서 초록색 풀과 오름 바라보며 좋았음. 밀크티는 맛있지만 개...      5
3     26094495   까미노  분위기 뷰 일단 너무 좋고요\n비오는날 왔는데 한적하니 힐링되네요\n멀리 바다도 보...      5
4     26094495   까미노      사장님들이 넘 친절해요. 집에 온 듯한 친절함과 편안함이에요. 분위기도 좋구요.       5
..         ...   ...                                                ...    ...
81   819891458  시루애월                                                         5
82  1852395758  사계생활  우연히 들린 가게. 전혀 커피 파는 곳인줄 몰랐어요.\n커피맛 좋구요 볼거리도 많네...      5
83  1852395758  사계생활                            마시는 즐거움에 보는 즐거움까지\n추천!!      5
84  1852395758  사계생활                         컨셉 너무 재밌게 잘 잡았고 음료도 맛있음 ㅎㅎ      5
85  1852395758  사계생활                          감동.. 너무 정갈하고 예뻐요 커피도 맛있음!      5

[86 rows x 4 columns]

In [ ]:
 


#         for m,n in zip(data['comment']['list'], data['comment']['list']):
#             f.writerow((m.contents[0], n.contents[0]))

# soup = BeautifulSoup(res.content, 'html.parser')
# aria-hidden="true"



# for item in mydata:
#     print(item.get_text())

#mArticle > div.cont_evaluation > div.evaluation_review > ul > li:nth-child(1) > div.comment_info > p > span
    
# mArticle > div.cont_evaluation > div.evaluation_review > ul > li:nth-child(1) > div.comment_info > p

#     mArticle > div.cont_evaluation > div.evaluation_review > ul > li > div.comment_info > p

In [22]:
from math import ceil

import requests
from bs4 import BeautifulSoup

ids = [
    '26094495',
]

for id in ids:
    res = requests.get(f'https://place.map.kakao.com/main/v/{id}')
    data = res.json()
    for page in range(1, ceil(data['comment']['allComntcnt'] / 5) + 1):
        res = requests.get(f'https://place.map.kakao.com/commentlist/v/{id}/{page}')
        data = res.json()
        print(page, len(data['comment']['list']))
        for comment in data['comment']['list']:
            a = comment.get('contents', '')
            print()
        for comment in data['comment']['list']:
            print(comment.get('point', ''))
            print()



# soup = BeautifulSoup(res.content, 'html.parser')
# aria-hidden="true"



# for item in mydata:
#     print(item.get_text())

#mArticle > div.cont_evaluation > div.evaluation_review > ul > li:nth-child(1) > div.comment_info > p > span
    
# mArticle > div.cont_evaluation > div.evaluation_review > ul > li:nth-child(1) > div.comment_info > p

#     mArticle > div.cont_evaluation > div.evaluation_review > ul > li > div.comment_info > p

1 5





5

5

5

5

5

2 5





5

3

5

4

5

3 5





3

5

5

5

5

4 5





5

2

5

5

3

5 5





5

3

5

5

3

6 5





3

5

5

5

4

7 5





5

5

1

5

3

8 5





5

1

4

5

5

9 5





3

3

4

4

4

10 5





4

4

4

4

4

11 5





4

4

4

5

5

12 5





4

4

4

4

0

13 5





4

0

0

0

0

14 3



0

3

5

In [52]:
a

'아메리카노와 포루뚜나가 너무 인상적인 곳'

In [50]:
a

In [23]:
import requests
from bs4 import BeautifulSoup

res = requests.get('https://place.map.kakao.com/26094495')
soup = BeautifulSoup(res.content, 'html.parser')
data = soup.select('#mArticle > div.cont_evaluation > div.evaluation_review')
data





#mArticle > div.cont_evaluation > div.evaluation_review

# for item in data:
#     print(item.get_text())
    

#     import requests
# from bs4 import BeautifulSoup

# res = requests.get('https://search.shopping.naver.com/best100v2/detail.nhn?catId=50000000')
# soup = BeautifulSoup(res.content, 'html.parser')
# data = soup.select('#productListArea > ul > li> p > a')
# for item in data:
#     print(item.get_text())

[]